/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url("smrtcity.jpg")  center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: #e64a19;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.solution-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


#solutions .solution-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

.news-section {
    width: 80%;
    margin: 20px auto;
  }
  
  h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
  }
  
  .news-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
  }
  
  .news-item h3 {
    font-size: 1.5em;
    color: #0056b3;
  }
  
  .news-date {
    font-size: 0.9em;
    color: #777;
  }
  
  .news-content {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
  }
  
  .read-more {
    display: inline-block;
    margin-top: 10px;
    color: #e64a19;
    text-decoration: none;
    font-weight: bold;
  }

#projects .project-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.project-item {
    width: 30%;
    text-align: center;
}

.project-item img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #e64a19;
}